/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    /* Nhằm loại bỏ khỏi tính toán kích thước khi có border or padding */
    box-sizing: border-box;
}

/* Nhằm cho các thẻ có CHỮ được kế thừa font của nhau */
html{
    font-family: Arial, Helvetica, sans-serif; 
}
/* Để chọn muti-cursor: ấn giữ Alt (option) 
B2: bấm Alt + -> (phím shift để chọn ký tự đó)
*/
/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Từ tổng quan đến chi tiết
Các câu hỏi khi tạo website:
    1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ, hình dáng (tròn, vuống,...))
 */

 .clear{
     clear: both;
 }

 .text-white{
     color: #fff !important; 
 }
#main{

}
/* 2. HEADER */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none; 
}

#nav > li{
    display: inline-block;
}
#nav li{
    /* display: inline-block; Nhằm chỉnh hiển thị list: inline-block (cùng dòng); none = tắt đi. Chỉ dùng cho thẻ li cấp 1 */
    position: relative;
}

/* Nhằm cho thuộc tính màu của thẻ li > a, chỉ bị ảnh hưởng cấp 1, nav thì CSS cho trực tiếp thẻ cấp 1 đó */
#nav > li > a{ 
    color: #fff; 
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none; /* Nhằm tắt gạch chân của chữ*/
    line-height: 46.5px; /*Nhằm căn giữa cho dòng chứa chữ bằng với height của header*/
    padding: 0 24px;
    display: inline-block; /*Mặc định display của thẻ a nó chỉ ăn theo chiều ngang của line-height chứ kh ăn theo chiều cao => dùng display: inline-block*/
    width: 100%;
}

#nav li:hover .subnav{
    display: block;
}
/* Ta có thể seleter 2 thuộc tính giống nhau như phía dưới */
#nav .subnav li:hover a,
#nav > li:hover > a{    /*Dùng hover ở thẻ li nhằm khi hover vào thẻ con của li sẽ kh bị mất màu của thẻ li*/
    color: #000 !important; /* "!important" nhằm khi hover vào thì thẻ li và a sẽ bị đổi màu. theo thứ tự ưu tiên nhất*/
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}
/* END HEADER */

/* begin search btn */

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-icon  {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;

}
/* end search btn */

/* 3. SLIDER */
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%; /* Khi có gtri % thì sẽ lấy giá trị = tỉ lệ của chiều rộng chính nó */
    background: url('/assets/img/slider/slider1_chicago.jpg') top center / cover  no-repeat;

}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider .text-heading{
    font-size: 24px;
    font-weight: 500;

}
#slider .text-desription{
    margin-top: 25px;
    font-size: 16px;

}


/* END SLIDER */


/* 4. CONTENT */
#content{
    
}

#content .content-section{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0;
}

#content .section-heading{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
    text-align: justify;
}

#content .member-item{
    float: left;
    margin-top: 58px;
    width: 33.333333%;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-avatar{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .tour-section{
    background-color: black;
}

.tickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}

/* Place */

.place-tour{
    margin: 32px -8px 0;
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-hover {
    width: 100%;
}

.place-hover:hover {
    opacity: 0.6;
}

.place-container{
    background-color: #fff;
    padding: 16px;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}

.place-name{
    
}

.place-time{
    margin-top: 15px;
    font-style: italic;
    opacity: 0.6;
}

.place-desc{
    margin: 15px auto;
    line-height: 1.4;

}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* END CONTENT */


/* 5. FOOTER */
#footer{

}
/* END FOOTER */